.menu__registration {
	padding: 13.5px 25.8px;
	border-radius: 5px;
	background-color: trancparent;
	border: 1px solid #000;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	font-size: 20px;
	&:hover {
		background-color: #ccc;
		transition: all 0.3s ease 0s;
	}
}
