/* цвета в html */
$blau: #172f53;
$gray: #7d7d7d;

.logo {
  display: flex;
  align-items: center;
  flex: 0 0 50px;
  &__title {
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
    margin-left: 13px;
  }
}

.header {
  background-color: #f6f8ff;
  padding: 62px 0px 300px 0px;
  @media (max-width: 1090px) {
    padding: 12px 0px 300px 0px;
  }
  &__body {
    display: flex;
  }
  &__list {
    display: flex;
    height: 50px;
    align-items: center;
    @media (max-width: 1090px) {
      display: inline-block;
    }
  }
  &__link {
    list-style: none;
    padding: 0px 28px;
    margin-left: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    position: relative;
    @media (max-width: 1090px) {
      margin-top: 25px;
      padding: 10px 17px;
      a {
        color: #ffffff;
        font-size: 16px;
      }
      &:hover {
        background-color: #ffbb42;
        a {
          color: #ffffff;
        }
      }
    }
    a {
      color: $blau;
      @media (max-width: 1090px) {
        color: #f5efde;
      }
    }
    &::before,
    &::after {
      content: "";
      width: 10px;
      height: 1px;
      background-color: #000;
      position: absolute;
      top: 16px;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      @media (max-width: 1090px) {
        background-color: #f5efde;
      }
    }
    &::before {
      transform: rotate(-40deg);
      right: 0;
    }
    &::after {
      transform: rotate(40deg);
      right: 7px;
    }
    &-text {
      list-style: none;
      font-size: 14px;
      text-align: center;
      display: none;
      position: absolute;
      text-decoration: underline;
      text-shadow: 1px 1px 1px rgb(233, 231, 231);
      color: $blau;
    }
  }
  &__menu {
    @media (max-width: 1090px) {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      overflow: auto;
      height: 100%;
      transition: all 0.4s ease 0s;
      background-color: #66beb6;
      padding: 70px 10px 20px 10px;
      text-align: center;
    }
  }
  &__title {
    display: flex;
    margin-bottom: 50px;
  }
  &__text {
    max-width: 688px;
  }
  &__content--gray {
    margin-top: 200px;
    display: flex;
  }
}
.header__link.active:after,
.header__link.active:before {
  background-color: red;
}
.header__link.active:before {
  transform: rotate(40deg);
}
.header__link.active:after {
  transform: rotate(-40deg);
}
.header__menu.active {
  top: 0;
  text-align: center;
}
.header__list li {
  margin: 0px 0px 10px 0px;
}

@media (max-width: 1090px) {
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
  }
  .menu__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .menu__burger span {
    position: absolute;
    background-color: #709dca;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    @media (max-width: 1090px) {
      background-color: #9b813b;
    }
  }
  .menu__burger::before,
  .menu__burger::after {
    content: "";
    background-color: #709dca;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.4s ease 0s;
    @media (max-width: 1090px) {
      background-color: #9b813b;
    }
  }
  .menu__burger::before {
    top: 0;
  }
  .menu__burger::after {
    bottom: 0;
  }
  .menu__burger.active span {
    transform: scale(0);
  }
  .menu__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
    transition: all 0.4s ease 0s;
  }
  .menu__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
}
.menu {
  display: flex;
  margin-left: 120px;
  align-items: center;
  @media (max-width: 1295px) {
    margin-left: 40px;
  }
  @media (max-width: 1090px) {
    margin-left: 0px;
  }
  &__entrance {
    margin-right: 50px;
    @media (max-width: 1209px) {
      margin-right: 20px;
    }
  }
  /* &__wrap {
    display: flex;
    li:first-child {
      /* Первый элемент списка */
  /*    margin-left: 0;
    }  */
  @media (max-width: 1090px) {
    flex-direction: column;
    margin: 0 auto;
  }
}
.contacts {
  margin-left: auto;
  display: flex;
  align-items: center;
  @media (max-width: 1090px) {
    display: none;
  }
  a {
    color: $blau;
  }
}

.title {
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 108px;
  text-align: left;
  &__body {
    display: flex;
    flex-direction: column;
    max-width: 684px;
  }
}

.text {
  font-size: 30px;
  line-height: 45px;
  color: $gray;
  margin-bottom: 240px;
}
.parralax {
  max-width: 40%;
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  position: relative;
}
.item {
  max-width: 788px;
  max-height: 335px;
  margin-right: -133px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  &1 {
    margin: 45% 0 0 -24%;
    width: 240px;
    max-height: 240px;
  }
  &2 {
    margin: -2.2% 0 0 50%;
    width: 175px;
    max-height: 306px;
  }
  &3 {
    margin: -35% 0 0 -17%;
    max-width: 533px;
    max-height: 797px;
  }
  &4 {
    margin: 60% 0 0 63%;
    width: 95.3px;
    height: 95.3px;
  }
  &5 {
    margin: 8% 0 0 73%;
    width: 95.3px;
    height: 95.3px;
  }
  &6 {
    margin: -10% 0 0 62%;
    width: 39px;
    height: 39px;
  }
  &7 {
    margin: 0.4% 0 0 -24%;
    width: 95.3px;
    height: 95.3px;
  }
}
