@charset "UTF-8";

/* @import "mixins.scss"; */

@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Poppins";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Poppins";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  font-size: 20px;
  width: 100%;
  height: 100%;
  /* обязательный параметр при фуллскрине */
  /* overflow: hidden; */
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  /* height: 100%; */
  overflow: hidden;
}

.container {
  max-width: 1676px;
  margin: 0 auto;
  padding: 0px 20px;
  width: 100%;
  /*
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	} */
}

.btn {
  /* menu__button */
  padding: 0 25.8px;
  border-radius: 5px;
  height: 49px;
  font-size: 20px;
  color: #172f53;
  line-height: 150%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: transparent;
  border: 1px solid #000;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* @import "burger.scss"; */

/* @import "mixins.scss"; */

/* @import "ui.scss"; */

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/* цвета в html */

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
}

.logo__title {
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
  margin-left: 13px;
}

.title {
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 108px;
  text-align: left;
}

.title__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 684px;
}

.header {
  background-color: #f6f8ff;
  padding: 62px 0px 300px 0px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item:first-child a {
  margin-left: 0;
}

.header__link {
  font-size: 20px;
  line-height: 150%;
  font-weight: 400;
  margin-left: 90px;
  position: relative;
  display: inline-block;
  outline: none;
}

.header__link:hover::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.header__link::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #172f53;
  -webkit-transform: scale(0.85);
      -ms-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.header__link:hover::after {
  top: 0%;
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.header__link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #172f53;
  -webkit-transform: scale(0.85);
      -ms-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transition: top 0.3s;
  -o-transition: top 0.3s;
  transition: top 0.3s;
  opacity: 0.3s;
}

.header__contacts {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contacts a {
  color: #172f53;
}

.header__entrance {
  position: relative;
  margin-right: 50px;
}

.header__entrance:hover::before {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
      -ms-transform: translateX(-50%) translateY(-50%) scale(1);
          transform: translateX(-50%) translateY(-50%) scale(1);
}

.header__entrance::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  opacity: 0.3s;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
      -ms-transform: translateX(-50%) translateY(-50%) scale(0.2);
          transform: translateX(-50%) translateY(-50%) scale(0.2);
}

.header__entrance:hover::after {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
      -ms-transform: translateX(-50%) translateY(-50%) scale(1);
          transform: translateX(-50%) translateY(-50%) scale(1);
}

.header__entrance::after {
  width: 30px;
  height: 30px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  opacity: 0.3s;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
      -ms-transform: translateX(-50%) translateY(-50%) scale(0.8);
          transform: translateX(-50%) translateY(-50%) scale(0.8);
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-width: 2px;
  opacity: 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text {
  font-size: 30px;
  line-height: 45px;
  color: #7d7d7d;
  margin-bottom: 240px;
}

.parralax {
  max-width: 40%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.item {
  max-width: 788px;
  max-height: 335px;
  margin-right: -133px;
  overflow: hidden;
}

.item img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.item1 {
  margin: 45% 0 0 -24%;
  width: 240px;
  max-height: 240px;
}

.item2 {
  margin: -2.2% 0 0 50%;
  width: 175px;
  max-height: 306px;
}

.item3 {
  margin: -35% 0 0 -17%;
  max-width: 533px;
  max-height: 797px;
}

.item4 {
  margin: 60% 0 0 63%;
  width: 95.3px;
  height: 95.3px;
}

.item5 {
  margin: 8% 0 0 73%;
  width: 95.3px;
  height: 95.3px;
}

.item6 {
  margin: -10% 0 0 62%;
  width: 39px;
  height: 39px;
}

.item7 {
  margin: 0.4% 0 0 -24%;
  width: 95.3px;
  height: 95.3px;
}

/* @import "popup.scss"; */

/* @import "footer.scss"; */

@media (min-width: 992px) {
  .btn:hover {
    background-color: #ccc;
  }
}

@media (max-width: 1295px) {
  .menu {
    margin-left: 40px;
  }
}

@media (max-width: 1209px) {
  .header__entrance {
    margin-right: 20px;
  }
}

@media (max-width: 1090px) {
  .header__contacts {
    display: none;
  }

  .menu {
    margin-left: 0px;
  }

  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
}